.container,
.principal {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}


.buton {
  display: flex;
  justify-content: flex-end;
}

.vacio {
  width: 100%;
  height: 80%;
  display: grid;
  place-content: center;
}

.icono .fa {
  font-size: 150px;
}

.icono {
  display: grid;
  place-content: center;
}

.texto span {
  font-size: 30px;
}

.header {
  display: flex;
}

.header h2 {
  position: relative;
  left: 35%;
}

ul {
  list-style: circle;
}

li span {
  position: relative;
  left: 30%;
}

.date .cantidad {
  position: relative;
  top: 20px;
}

.fecha {
  font-weight: 700;
}

.total {
  position: relative;
  left: 30%;
  top: 40px;
  color: #FA4A0C;
  font-weight: 700;
}

.principal {
  width: 100%;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* Acordion */
.accordion-button:not(.collapsed) {
  color: initial;
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: #fff;
  box-shadow: none;
}
