@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  background: #fff;
  height: 50vh;
  width: 100%;
  border-radius: 25px;
}

.logo {
  height: 85%;
  display: grid;
  place-content: center;
  text-align: center;
}

.logo h2 {
  font-size: 70px;
  font-family: 'Flavors', cursive;
  color: #FA4A0C;
}

.logo span {
  color: #FA4A0C;
  text-transform: capitalize;
}

li {
  display: inline;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: black;
  font-weight: 700;
}

.select {
  border-bottom: 3px solid #FA4A0C;

}
